# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
    - targets: ['localhost:9090']
    
  - job_name: 'grafana'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    honor_labels: true
    consul_sd_configs:
    - server: '{{ PROMETHEUS_IP }}:8500'
      services:
        - 'grafana'
    
  - job_name: 'node_exporter_masterserver'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    honor_labels: true
    consul_sd_configs:
    - server: '{{ PROMETHEUS_IP }}:8500'
      services:
        - 'node_exporter_horovodmaster'
    
    
  - job_name: 'cadvisor_masterserver'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    honor_labels: true
    consul_sd_configs:
    - server: '{{ PROMETHEUS_IP }}:8500'
      services:
        - 'cadvisor_horovodmaster'
    
  - job_name: 'cadvisor_workerserver'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    honor_labels: true
    consul_sd_configs:
    - server: '{{ PROMETHEUS_IP }}:8500'
      services:
        - 'cadvisor_horovodworker'
        
    
  - job_name: node-exporter_workerserver
    honor_labels: true
    consul_sd_configs:
    - server: '{{ PROMETHEUS_IP }}:8500'
      services:
        - 'node_exporter_horovodworker'

  - job_name: Prometheus_server_nodeExporter
    honor_labels: true
    consul_sd_configs:
    - server: '{{ PROMETHEUS_IP }}:8500'
      services:
        - 'Prometheus_server_nodeExporter'

  - job_name: Prometheus_server_Cadvisor
    honor_labels: true
    consul_sd_configs:
    - server: '{{ PROMETHEUS_IP }}:8500'
      services:
        - 'Prometheus_server_Cadvisor'
      
