

# .tfstate files
*.tfstate
*.tfstate.*

### Terraform ###
# Local .terraform directories
**/.terraform/*

sample_auth_data.auto.tfvars

# Crash log files
crash.log

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Ansible ###
*.retry
